

#mainscreen {

background-color: #cfccba;

}

.header-box {
background-color: #cfccba;
height: 400px;
justify-content: center;
align-items: center;
padding-top: 30px;
}

.profile-picture {
height: 90px;
width:  90px;
border-radius: 50%;
background-color: #cfccba;
display: block;
margin:  0 auto;
border: 3px solid  #FF3B3F;

}

.icon-box {
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 0 auto;
width: 90px;
height: 30px;


}


.fa-linkedin {  
 
  color: #FF3B3F;  
}  

.fa-linkedin:hover {
  color:  #2867B2; 
}  

.fa-instagram {  
    
  color: #FF3B3F;  
}  

.fa-instagram:hover {
  color: #C13584;;
}

.fa-envelope {
 
color: #FF3B3F; 
}

.fa-envelope:hover {
color: #635a63;
}

.fa-link {
color: #FF3B3F; 

}

.fa-link:hover {
color: #536591;
}



.fa-book {
color: #FF3B3F; 
}

.fa-book:hover {
color: #553b08;
}

.fa-github {
color: #FF3B3F; 

}

.fa-github:hover {
color: #6e5494; 
}

.fa-map-marker {
color: #FF3B3F; 
}

.fa-map-marker:hover {
color:#508a53;
}

.fa-spotify {
color: #FF3B3F; 
}

.fa-spotify:hover {
color: 	#1DB954;
}


.whatido {
display: grid;
height: 1200px;
grid-template-columns: 1;
grid-template-rows: repeat(5, 1fr);
background-color: #cfccba;
align-items: center;


}

.whatido-header {
grid-row: 1;



}

.education {
grid-row: 2;
background-color: #cfccba;
margin: 10px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
padding: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.generalidea {
grid-row: 3;
background-color: #cfccba;
margin: 10px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
padding: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.directagents {
grid-row: 4;
background-color: #cfccba;
margin: 10px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
padding: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}




.movableink {
grid-row: 5;
background-color: #cfccba;
margin: 10px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
padding: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}




.workingon {
height: 1500px;
display: grid;
grid-template-columns: 2;
grid-template-rows: repeat(5, 1fr);
background-color: #cfccba;
align-items: center;
gap: 20px;
padding-bottom: 30px;
}


.workingon-header {
grid-row: 1;
grid-column: 1/2;
background-color: #cfccba;


}


.square1 {
grid-row: 2;
grid-column: 1/2;
background-color: #cfccba;
padding: 10px;
margin: 20px;
display: flex;



}

.insidesquare1 {
background-color: #cfccba;
margin: 20px;
padding: 20px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;


}







.square2 {
grid-row: 3;
grid-column: 1/2;
background-color: #cfccba;
padding: 10px;
margin: 20px;
display: flex;

}

.insidesquare2 {
background-color: #cfccba;
margin: 20px;
padding: 20px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;




}

.square3 {
grid-row: 4;
grid-column: 1/2;
background-color: #cfccba;
padding: 10px;
margin: 20px;
display: flex;

}

.insidesquare3 {
background-color: #cfccba;
margin: 20px;
padding: 20px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;


}



#workingon-text{
grid-row: 5;
padding: 10px;
margin: 20px;
background-color: #cfccba;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}






h1 {
color: #FF3B3F;
font-size:  36px;
font-family: 'Roboto Slab', serif;
text-align: center;
display: block;
margin: 0 auto;


}


h2 {
color: #FF3B3F;
font-size:  14px;
font-family: 'Roboto Slab', serif;


}

h3 {
color: #FF3B3F;
font-size:  12px;
font-family: 'Roboto Slab', serif;
text-align: center;
margin: 5px;


}

a {
 text-decoration: none;


}

.insidesquare4 ul li {
list-style: none;
font-size: 11px;
line-height: 22px;

}




@media (min-width: 800px) {

.whatido {
display: grid;
height: 500px;
grid-template-columns: 2;
grid-template-rows: repeat(4, 1fr);
background-color: #cfccba;
align-items: center;
padding-bottom: 60px;

}

.whatido-header {
grid-row: 1;
grid-column:1/4;





}

.education {

grid-row: 2;
grid-column: 1/4;

background-color: #cfccba;



box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.generalidea {
grid-row: 3;
grid-column: 1/4;
background-color: #cfccba;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.directagents {
grid-row: 4;
grid-column: 1/2;
background-color: #cfccba;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.movableink {
grid-row: 4;
grid-column: 2/4;
background-color: #cfccba;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.workingon {
height: 800px;
display: grid;
grid-template-columns: 2;
grid-template-rows: repeat(5, 1fr);
background-color: #cfccba;
align-items: center;
justify-content: center;

padding-bottom: 20px;
}

.workingon-header {
grid-row: 1;
grid-column: 1/4;
background-color: #cfccba;


}


.square1 {
grid-row: 2;
grid-column: 1/4;
background-color:  #cfccba;
padding: 10px;
margin: 20px;
display: flex;


}

.insidesquare1 {
background-color: #cfccba;
margin: 20px;
padding: 20px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


}







.square2 {
grid-row: 3;
grid-column: 1/4;
background-color: #cfccba;
padding: 10px;
margin: 20px;

display: flex;

}

.insidesquare2 {
background-color: #cfccba;
margin: 20px;
padding: 20px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;



}


.square3 {
grid-row: 4;
grid-column: 1/4;
background-color: #cfccba;
padding: 10px;
margin: 20px;

display: flex;

}

.insidesquare3 {
background-color: #cfccba;
margin: 20px;
padding: 20px;
border-style: solid;
border-width: 2px;
border-color: #FF3B3F;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;



}


#workingon-text{
grid-row: 5;
grid-column: 2/3;
padding: 10px;
margin: 20px;
background-color: #cfccba;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




}






